<div class="container-fluid">
  <h1>Welcome to the GA Camping Store</h1>
  <br/>
  <h4>Search: <input type="text" ng-model="searchText"></h4>
  <br/>
  <div class="row">
    <table class="table">
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
      <tr class="animate-repeat" ng-repeat="item in inventory | filter: searchText | orderBy: 'category' ">
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td ng-class="{ 'on-sale' : item.onSale }">{{ item.price }}</td>
        <td><input type="number" min="0" class="qty" ng-model="item.qty"></td>
        <td>{{ item.qty * item.price | currency }}</td>
        <td><button class="btn btn-primary" ng-click="addItem(item);">Add</button></td></tr>
    </table>
  </div>
  <div class="row">
    <h2>Your Cart:</h2>
    <table class="table">
      <tr>
        <th>Quantity</th>
        <th>Description</th>
        <th>Price</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
      <tr class="animate-repeat" ng-repeat="item in cart">
        <td>{{ item.qty }}</td>          
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.qty * item.price | currency }}</td>
        <td><button class="btn btn-danger" ng-click="deleteItem($index);">x</button></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h2>Grand Total: {{ ( grandTotal() ? ( grandTotal() | currency) : "$0 " ) }}</h2>
  </div>
  <div class="row">
    <h2><button class="btn btn-danger" ng-click="clearCart()">Clear Cart</button></h2>
    <br />
  </div>
</div>